<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rebox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5E132EF1CF1021B00F88799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E133031CF1021C00F88799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E1330E1CF1021C00F88799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
